<h2>{{{ linkto "ruta" "nombre"}}}</h2>
<h2>{{{ linkto "ruta" "hola"}}}</h2>
<h2>{{{ linkto "ruta" "saludo"}}}</h2>

<h2>{{{ linkto "ruta" "nombre 2"}}}</h2>
<h2>{{{ linkto "ruta" "hola 2"}}}</h2>
<h2>{{{ linkto "ruta" "saludo 2"}}}</h2>

<h2>{{{ linkto "hola" "lia"}}}</h2>
<h2>{{{ linkto "adios" "mari"}}}</h2>
<h2>{{{ linkto "bay" "laura"}}}</h2>
